@model CollegeApp.Dtos.Repair.RepairDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Repaired Mold
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.MoldName
        </dd>
        <dt class = "col-sm-2">
            Repair Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairTime)
        </dd>
        <dt class = "col-sm-2">
            Repairman
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.RepairmanName
        </dd>
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RepairId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
