@model CollegeApp.Dtos.Mold.MoldDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mold</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Workshop
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.WorkshopName
        </dd>
        <dt class = "col-sm-2">
            Purpose
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.PurposeName
        </dd>
         <dt class = "col-sm-2">
            Installation Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallationDate)
        </dd>
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoldId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MoldId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
